{{> menu}}
<section class="section">
  <div class="container">
    <h1 class="title is-1 has-text-light">
      {{location.title}}
    </h1>
  </div>
</section>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th>Postcode</th>
      <th>Distance KM</th>
      <th>Duration</th>
      <th>Delete</th> 
    </tr>
  </thead>
  <tbody>
    {{#each details}}
      <tr>
        <td>{{title}}</td>
        <td>{{postcode}}</td>
        <td>{{distance}}</td>
        <td>{{duration}}</td>
        <td> 
          <a href="/location/{{../location._id}}/deletedetails/{{_id}}" class="button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<div class="container">
  <a href="/dashboard" class="button">Back</a>
</div>