{{> welcome-menu}}

<section class="section">
  <div class="container detail-cards">
    <div class="detail-card about-card">  <!-- Title & About -->
      <h1 class="title major-mono-display-regular title-grey">
        {{location.title}}
      </h1>
      <h3 class="about-title">About the Walk</h3>
      <p class="about-text">{{location.description}}</p>
    </div>
    
    <div class="detail-card">  <!-- Location Details -->
      <h3 class="detail-title">Postcode</h3>
      <p class="detail-info">{{location.postcode}}</p>
      <h3 class="detail-title">Latitude</h3>
      <p class="detail-info">{{location.latitude}}</p>
      <h3 class="detail-title">Longitude</h3>
      <p class="detail-info">{{location.longitude}}</p>
      <h3 class="detail-title">Distance</h3>
      <p class="detail-info">{{location.distance}} KM</p>
      <h3 class="detail-title">Duration</h3>
      <p class="detail-info">{{location.duration}}</p>
    </div>
  </div>
  
  <div class="review-carousel-container">
    <div class="review-carousel">
      <!-- Dynamic Reviews -->
      {{#each location.reviews}}
      <div class="review-slide">
        <div class="star-rating">{{stars this.rating}}</div> <!-- Convert numeric ratings to stars -->
        <h3 class="review-title">"{{this.title}}"</h3>
        <p class="review-content">
          {{truncate this.content 250}}
          <span class="more-text">{{slice this.content 250}}</span>
          <a href="#" class="read-more-link">read more...</a>
        </p>
        <p class="reviewer">Reviewed by {{this.user}}</p>
        <p class="review-date">{{this.date}}</p>
      </div>
      {{else}}
      <div class="review-slide">No other reviews yet.</div>
      {{/each}}
    </div>
    <button class="prev-review arrow">&#10094;</button>
    <button class="next-review arrow">&#10095;</button>
  </div>
</section>


