{{> welcome-menu}}

<section class="section">
  <div class="container detail-cards">
    <div class="detail-card about-card">  <!-- Title & About -->
      <h1 class="title major-mono-display-regular title-grey">
        {{location.title}}
      </h1>
      <h3 class="about-title">About the Walk</h3>
      <p class="about-text">{{location.description}}</p>
    </div>
    
    <div class="detail-card">  <!-- Location Details -->
      <h3 class="detail-title">Postcode</h3>
      <p class="detail-info">{{location.postcode}}</p>
      <h3 class="detail-title">Latitude</h3>
      <p class="detail-info">{{location.latitude}}</p>
      <h3 class="detail-title">Longitude</h3>
      <p class="detail-info">{{location.longitude}}</p>
      <h3 class="detail-title">Distance</h3>
      <p class="detail-info">{{location.distance}} KM</p>
      <h3 class="detail-title">Duration</h3>
      <p class="detail-info">{{location.duration}}</p>
    </div>
  </div>
  
   
</section>


